body {
  font-family: sans-serif;
}

.card_wrapper {
  display: inline-block;
  width: 200px;
  height: 260px;
  margin: 40px 0;
  perspective: 600px;
  margin-left: 15px;
  margin-right: 15px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is_flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 260px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  border-radius: 8px;
  backface-visibility: hidden;

}

.card_face_front {
  background-image: linear-gradient(rgb(32, 32, 208), rgb(138, 138, 212));
}

.card_face_back {
  background-image: linear-gradient(rgb(143, 39, 7), rgb(243, 58, 70));
  transform: rotateY(180deg);
}

.card_holder_name {
  text-align: center;
  margin-top: 20px;
  font-size: 1.2rem;
  color: darkblue;  
}

#cardContainerDiv {
  max-width: 100%;
  height: 400px;
  overflow: hidden;
  overflow-y: scroll;
  text-align: center;
  padding: 20px;
  flex-wrap: wrap;
}

.flipBtn {
  background-color: lightcoral;
  border-radius: 8px;
  padding: 8px;
}

