#point-button-wrapper {
  bottom: 0.6rem;
  width: 59%;
  height: 4rem;
  background-color: rgb(210, 207, 207);
  text-align: center;
  position: absolute;
}

.point-button {
  border-radius: 0.2rem;
  padding: 0.8rem 1.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;  
  font-size: 1rem;
  margin: 0.5rem 0.2rem;
  transition-duration: 0.4s;
  cursor: pointer;
  color: black; 
  border: 0.2rem solid #4CAF50;
}

.point-button:hover {
  background-color: #4CAF50;
  color: white;
}

.point-button:focus {
  outline: none;
  box-shadow: 10px 7px 15px rgb(3, 106, 24);
  transform: scale(1.08);
}