.main {
  display: flex;
  justify-content: space-between;
}

body {
  background: #2ac4e3;
}

.left-container {
  width: 20%;
}

.middle-container {
  width: 60%;
}

.right-container {
  width: 20%;
}

.displayNone {
  display: none;
}

.guestForm {
  background-color: red;
}

.guestInput {
  background-color: blue;
}

.nextBtn {
  background-color: green;
}

.clearBtn {
  background-color: orange;
}